.items-list {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(230px, 1fr));
  /* grid-template-rows: repeat( 3, 1fr); */
  gap: 1rem;
  justify-items: center;

  margin: 0 auto;
  background-color: #dfe6e9;
  padding: 0.5rem;
}