.main-header {
  top: 0;               /*position navbar at top*/
  position: fixed;
  width: 900px;
  background: rgb(188, 211, 252);
  padding: 15px, 100px;
  height: 50px;         /*to strict height */
  
  display: flex;        /*to orginize links horizontaly */
  justify-content: space-between;
  align-items: center;
}

.main-header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.main-header li {
  margin-left: 10px;
  font-size: 1.5rem;
}

.nav a{
  text-decoration: none;
}

.nav a:hover,
.nav a:active {
  color:rgb(0, 13, 114);
  background: rgb(181, 181, 255);
  cursor: context-menu;
  font-weight: bold;
}