nav {
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  color:rgb(0, 13, 114);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.3s linear;
}

.nav-toggle:hover {
  color:rgb(181, 181, 255);
  transform: rotate(90deg);
}

.logo {
  height: 30px;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-container {
  height: 15rem;  /*TODO make it dynamic */
}

.links a {
  color: hsl(209, 34%, 30%);
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: hsl(210, 31%, 80%);
  color: hsl(210, 22%, 49%);
  padding-left: 1.5rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

/* Used for header tag */
.main-header {
  top: 0;               /*position navbar at top*/
  position: fixed;
  width: 900px;
  background: rgb(188, 211, 252);
  padding: 15px, 100px;
  height: 50px;         /*to strict height */
  
  display: flex;        /*to orginize links horizontaly */
  justify-content: space-between;
  align-items: center;
}